.fibonacci-table {
    width: 100%;
}

.placeholder {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.placeholder-text {
    display: block;
    width: 95%;
    height: 16px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}